In [1]:
####################CLASS 4 ################## 
""" DATA TYPE SET
{} flower bracket no duplicatr
index, rindex and find , rfind dosent work in set 
if u print a set the type will change into list """

In [10]:
a={1,2,1,1,1,2,2,2,2,3,3,3,3,4}
print(type(a))

<class 'set'>

In [21]:
print(isinstance(a,set))

True

In [12]:
print(a)

{1, 2, 3, 4}

In [13]:
print(sorted(a))
print(type(a))

[1, 2, 3, 4]
<class 'set'>

In [14]:
a={1,2,3,4,5}
b={4,5,6,7,8}

In [15]:
print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [16]:
print(a.difference(b))
print(b.difference(a))

{1, 2, 3}
{8, 6, 7}

In [17]:
a={1,2,3}                # fruite superset apple subset
b={1,2,3,4,5,6}
print(a.issubset(b))
print(b.issubset(a))

True
False

In [18]:
print(a.issuperset(b))
print(b.issuperset(a))

False
True

In [35]:
a={"name":"arun","age":25,"loc":"chennai"}
print(type(a))
print(a)

<class 'dict'>
{'name': 'arun', 'age': 25, 'loc': 'chennai'}

In [36]:
print(isinstance(a,dict))

True

In [37]:
print(min(a)) #checks only the key not the value
print(max(a))
print(sorted(a))

age
name
['age', 'loc', 'name']

In [38]:
print(a.keys()) #output list
print(a.values()) #output list
print(a.items()) # output tuple inside a list

dict_keys(['name', 'age', 'loc'])
dict_values(['arun', 25, 'chennai'])
dict_items([('name', 'arun'), ('age', 25), ('loc', 'chennai')])

In [39]:
# add value in dictionary 
a["test"]="demo"

In [40]:
print(a)

{'name': 'arun', 'age': 25, 'loc': 'chennai', 'test': 'demo'}

In [41]:
a={'name': 'arun', 'age': 25, 'loc': 'chennai', 'test': 'demo',"name":"end"}
print(a)

{'name': 'end', 'age': 25, 'loc': 'chennai', 'test': 'demo'}

In [42]:
del a["test"] #delete both key and value
print(a)

{'name': 'end', 'age': 25, 'loc': 'chennai'}

In [43]:
#to get a value from dictionary
print(a["age"])
print(a.get("age"))

25
25

In [44]:
print(a["try"]) #this method throws error

KeyError: 'try'

In [45]:
print(a.get("try"))

None

In [46]:
print(a.get("try","nothing")) # the value which we give after (,) will come instead of nothing

nothing

In [47]:
b=a.popitem() #removes last value from the dictonary 
print(b)
print(a)

('loc', 'chennai')
{'name': 'end', 'age': 25}

In [ ]:
a=