In [2]:
print("hi")

hi

In [2]:
print("hi")

hi

In [3]:
print("hi")
#print("hello")
print("welcome")

hi
welcome

In [6]:
## two types of comments
##single line comment, starts with #     
## select Ctrl+/ --> to auto comment and uncomment

In [7]:
""" multiline comment starts with (3") 
ends with (3") 
used for description about the code
"""

' multiline comment starts with (3") \nends with (3") \nused for description about the code\n'

In [8]:
#to get input from the user

In [6]:
a=input("enter a name:") #(getfunctiom)
print(a)

enter a name:sam
sam

In [11]:
a="samraj" # a is varibale samraj is value

In [12]:
print(a)

samraj

In [9]:
#variable name should not start with number but can end with number 
#varibale name should not contain special character except (_)
#variable should be assigned with the values
#space is a charcter

In [1]:
a=input("enter a name")
print(a)

enter a namesam
sam

In [8]:
#data types (type of data support in python is called data type)
##string 
##anything that comes in double quotes string 
#print(type(a)) and print(isinstance(a,str)) used to check whether string or not
a="test"

In [5]:
print(type(a))

<class 'str'>

In [7]:
print(isinstance(a,str))

True

In [8]:
a = "SamRaj"

In [9]:
print(len(a))# to get length of variable
print(max(a))#maximum ascii value
print(min(a))#minimum ascii value
print(sorted(a))#sorting the variable in the ascii value

6
m
R
['R', 'S', 'a', 'a', 'j', 'm']

In [5]:
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())
print(a.isupper())
print(a.islower())
print(a.swapcase())

False
False
False
False
False
sAM rAJ

In [5]:
a= "RogerFedrer"  #python interval (forward index) right to left 0 ,,,,,,, left to right -1(reverse index)

In [6]:
print(a[5])

F

In [8]:
print(a[:5])

Roger

In [10]:
print(a[:])

RogerFedrer

In [11]:
print(a[::2])

Rgrerr

In [12]:
#reverse index a string

In [13]:
print(a[:-1])

RogerFedre

In [14]:
print(a[::-2])

rrergR

In [16]:
##get last letter in a name without using reverse index
##using input get a name and check its alphabatics 
##using input get a number and check it is a number or not
##using input get a password check it is alphanumeric and in lower case or not

In [49]:
a="willamson"

In [50]:
print(a[8])#(index uses square bracket)

n

In [2]:
a= input("enter a name:")
print(a.isalpha())

enter a name:sam
True

In [1]:
a= input("enter a number:")
print(a.isdigit())

enter a number:123
True

In [1]:
a= input("enter the password:")
print(a.isalnum())
print(a.islower())

enter the password:sam123
True
True

In [3]:

#######################################################
##########day 2#################################


a="SachinTendulkar"

In [4]:
print(a[7])

e

In [5]:
print(a.index("e")) #index use to find the postition of the letter using forward index 0->1

7

In [6]:
print(a.index("a",2))

13

In [7]:
print(a.rindex("a"))#reverse index finds the position of a in the value using reverse index and gives forward index value

13

In [12]:
print(a.find("z",2))#find uses forward index to find the position of a in the string

-1

In [11]:
print(a.rfind("z"))#rfind and find shows output -1 if the value we entered is nt in the string
                   #(in index unknow value is present in index throws error)

-1

In [18]:
a="Sachintendulkar"
print(a.split("a"))   #split function use to delete or split the value
print(a.split("a",1)) #first occurance

['S', 'chintendulk', 'r']
['S', 'chintendulkar']

In [20]:
print(a.replace("a","$"))
print(a.replace("a","$",1))

S$chintendulk$r
S$chintendulkar

In [21]:
print(a.count("a"))

2

In [24]:
print(a.startswith("S"))

True

In [25]:
print(a.endswith("r"))

True

In [38]:
a="  hello world  "
print(a.strip())#removes strip in front and back
print(a.lstrip())#remove strip in front leading 
print(a.rstrip())#remove strip in back trailing at the end

hello world
hello world
  hello world

In [39]:
# second type INT



a = "123"
print(type(a))
print(a.isdigit())

<class 'str'>
True

In [40]:
b = 123
print(type(b))

<class 'int'>

In [42]:
a="123"   #typecasting is only done when a number is present in the string present in the string if it is an int it can be changed
b=int(a)
print(b)
print(type(b))

123
<class 'int'>

In [43]:
a="123"
b=float(a)#float is nothing but decimal value
print(b)

123.0

In [1]:
## get a input as number and check its data type

## a="test@gmail.com"
##output only test
##output only gmail

## a=" Welcome to todays class"
##output : "welcometotodaysclass"

In [2]:
a=input("enter a number:")
print(type(a))
print(a)

enter a number:123
<class 'str'>
123

In [54]:
a="test@gmail.com"
b=(a.replace("gmail.com","@"))
print(b.replace("@",""))

test

In [35]:
c=(a.replace("test@",""))
print(c.replace(".com",""))

gmail

In [42]:
A=" welcome to todays class "
B=(A.strip())
print(B.replace(" ",""))

welcometotodaysclass